doctype html

html(ng-app='erEventApp')
  head
    title Hello world
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset='utf-8')
    link(href='app.less' type='text/css' rel='stylesheet/less')
    link(rel='stylesheet' href='bower_components/metro/build/css/metro.css')
    link(rel='stylesheet' href='bower_components/metro/build/css/metro-icons.css')
    link(rel='stylesheet' href='bower_components/metro/build/css/metro-schemes.css')

body(class='tile-area-scheme-{{backgroundColor}}')

  // JS from Bower Components
  script(src='bower_components/less.js/dist/less-1.6.2.js' data-content=false)
  script(src="bower_components/jquery/jquery.js")
  script(src="bower_components/metro/build/js/metro.js")
  script(src="bower_components/angular/angular.js")
  script(src="bower_components/angular-route/angular-route.js")
  script(src="bower_components/angular-animate/angular-animate.js")
  script(src="bower_components/angular-resource/angular-resource.js")
  script(src="bower_components/angular-ui-utils/ui-utils.js")

  // Main App JS
  script(src='app.js')

  // Directives
  script(src='directives/er-color-palette-directive.js')
  script(src='directives/er-event-directive.js')
  script(src='directives/er-remote-tile-container-directive.js')
  script(src='directives/er-highlight-directive.js')

  // Services
  script(src='services/er-event-service.js')

  // Controllers
  script(src='controllers/er-event-list-controller.js')
  script(src='controllers/er-remote-tile-container-controller.js')

  header.app-bar.fixed-top.nave(data-role='app-bar')
    a.app-bar-element(ng-show='false')
      span(data-role='hint' data-hint-background='bg-green' data-hint-color='fg-white'
              data-hint-position='right' data-hint='Go | back')
        span.mif-arrow-left.mif-3x
    div.app-bar-divider(ng-show='false')
    a.app-bar-element.branding Events
    a.app-bar-element.place-right
      span(data-role='hint' data-hint-background='bg-green' data-hint-color='fg-white'
            data-hint-position='left' data-hint='Change | background color')
        span#color-palette-dropdown.mif-paint.mif-3x.ani-hover-float.mif-ani-fast
      div.app-bar-drop-container.place-right(data-role='dropdown' data-toggle-element='#color-palette-dropdown'
            data-no-close='false' style='width: 324px')
        er-color-palette(enter='previewBackgroundColor(color)' leave='resetBackgroundColor()' click='changeBackgroundColor(color)')
  div#content.container.fg-white
    div.row
      ng-view
