div.tile-large.bg-steel.fb-white(data-role='tile')
  div.tile-content.slide-down-2
    div.slide
      div.image-container.image-format-square(style='width: 100%')
        div.frame
          div(style='width: 100%; height: 100%; border-radius: 0px; background-image: url({{event.imageUrl}}); background-size: cover; background-repeat: no-repeat;')
    div.slide-over.bg-blue.text-small.padding10
      div.align-center
        div.countdown.labels-top(data-role='countdown' data-background-color='bg-red'
        data-minutes=2 data-label-color='fg-white' style='font-size: .6rem')
    div.tile-label {{event.title}}
