div.tile-large.bg-steel.fb-white(data-role='tile' ng-click='details(event.id)')
  div.tile-content.slide-down-2
    div.slide
      div.image-container.image-format-square(style='width: 100%')
        div.frame
          div(style='width: 100%; height: 100%; border-radius: 0px; background-image: url({{event.eventImage}}); background-size: cover; background-repeat: no-repeat;')
    div.slide-over.bg-darcula.text-small.padding10
      div.align-center
        h5.text-light Countdown to start the event
        div.countdown.labels-top(data-role='countdown' data-background-color='bg-red'
                data-minutes=2 data-label-color='fg-white' style='font-size: .6rem')
        hr.bg-white
        h6.text-light(ng-if='date') {{date|erFormat:'MMM D, YYYY @ LT'}}
        h6.text-light(ng-if='!date') The event past away.
        hr.bg-white
        h6.text-light Abstract:
        p.align-justify.indent-paragraph {{event.description|erAbstract:250}}
        hr.bg-white

    div.tile-label {{event.title}}
