div.flex-grid
  div.row.padding20
    div.cell.colspan8
      div.tile-container
        div.tile-large.bg-steel.fb-white(data-role='tile')
          div.tile-content.slide-down-2
            div.slide
              div.image-container.image-format-square(style='width: 100%')
                div.frame
                  div(style='width: 100%; height: 100%; border-radius: 0px; background-image: url(http://localhost:9001/bower_components/metro/docs/images/spface2.jpg); background-size: cover; background-repeat: no-repeat;')
            div.slide-over.bg-blue.text-small.padding10
              div.align-center
                div.countdown.labels-top(data-role='countdown' data-background-color='bg-red'
                     data-minutes=2 data-label-color='fg-white' style='font-size: .6rem')
            div.tile-label Hello world asf asf afadf adf dsfadfa adf
        div.tile-large.bg-steel.fb-white(data-role='tile')
          div.tile-content.slide-down-2
            div.slide
              div.image-container.image-format-square(style='width: 100%')
                div.frame
                  div(style='width: 100%; height: 100%; border-radius: 0px; background-image: url(http://localhost:9001/bower_components/metro/docs/images/spface2.jpg); background-size: cover; background-repeat: no-repeat;')
            div.slide-over.bg-blue.text-small.padding10
              div.align-center
                div.countdown.labels-top(data-role='countdown' data-background-color='bg-red'
                data-minutes=2 data-label-color='fg-white' style='font-size: .6rem')
            div.tile-label Hello world asf asf afadf adf dsfadfa adf
    div.cell.colspan4
      h1.text-light
        span.mif-event-available.mif-2x Today's Highlight
      hr.fat.bg-white
      div.tile-container
        div.tile-wide.bg-crimson(data-role='tile')
          div.tile-content.slide-left-2
            div.slide
              h3 Hello world
            div.slide-over.bg-blue
              h3 Hello world
